{% extends "sflawyer/base_extend.html" %}
{% load staticfiles %}
{% block title %}尚法概览{% endblock %}

 {% block main_content %}
		<div class="dev_fill"></div>
		<div class="biaoti">
		<img src={% static 'sflawyer/images/sf-about.jpg' %} />
		</div>
		<div class="pagecontent">
		  <div id="subnav">
			<div class="line2"></div>
			<div class="subt"><a href={% url 'about' 'overall'%}>尚法·前言</a></div>
			<div class="subt selected"><a href={% url 'about' 'theary'%}>尚法·理念</a></div>
			<div class="subt"><a href={% url 'about' 'comp'%}>尚法·竞争力</a></div>
		  </div>

		  <div class="para">
<p>尚法律师在不断实践与总结的基础上，找到适合我们的服务准则，这是尚法律师的核心理念。</p>
<p>这些理念经久不衰，她指引我们的职业行为与个人行为，是尚法律师存在和发展的根本支柱。</p>
<p>客户利益永远第一位。</p>
<p>我们的资本就是用我们的专业水平与敬业态度把事做好。</p>
<p>诚信为本把人做好是我们的核心价值。</p>

          </br>
		  </div>
        </div>
		  <div style="clear:both;"></div>
 {% endblock %}