{% extends "sflawyer/base.html" %}
{% load staticfiles %}

{% block content %}
       {% block main_content %}{% endblock %}
        <div id="footer">
            <div class="footer_left">
                <div class="address">
            	<span>上海市大木桥路108号519室</br>ROOM 519,NO.108,DaMuQiao Road</span>
                </div>
                <div class="tel">
            	<span>沪ICP备15022816</br>电话/Tel:021-64436351 传真/Fax:021-64436378</span>
                </div>
            </div>
        </div>
		<div style="clear:both;"></div>
{% endblock %}