{% extends "sflawyer/base_extend.html" %}
{% load staticfiles %}
{% block title %}合作平台{% endblock %}

 {% block main_content %}
		<div class="dev_fill"></div>
		<div class="biaoti">
		<img src={% static 'sflawyer/images/partner_title.jpg' %} />
		</div>
		<div class="pagecontent">
		  <div id="subnav">
			<div class="line1"></div>
			<div class="subt selected"><a href="partner.html">尚法·合作伙伴</a></div>
		  </div>
		  <div class="three_list_div">
			<ul class="ul_1">
<li>华东政法大学</li>
<li>上海财经大学</li>
<li>上海政法大学</li>
<li>南加州大学</li>
<li>普瓦提埃大学</li>
<li>中国银行</li>
<li>华一银行</li>
<li>上海银行</li>
<li>中国工商银行</li>
<li>平安银行</li>
<li>国泰君安证券</li>
<li>大卫与雷文专利集团</li>
			</ul>

			<ul class="ul_2">
<li>上海市中小企业服务发展中心</li>
<li>全国中小企业股份转让系统</li>
<li>上海脱权托管交易中心</li>
<li>中国国际投资促进会</li>
<li>上海市退休法官、检察官志愿团</li>
<li>人民日报网讯</li>
<li>新民晚报</li>
<li>法学家联谊会</li>
<li>九江市企业联合会</li>
<li>江西商会</li>
<li>上海吉安商会</li>
			</ul>

			<ul class="ul_3">
<li>电信集团</li>
<li>光明集团</li>
<li>中电科集团</li>
<li>胜利油田</li>
<li>宝钢集团</li>
<li>科房集团</li>
<li>海通证券</li>
<li>广发证券</li>
<li>联讯证券</li>
<li>招商证券</li>
<li>首创证券</li>
			</ul>
		  </div>
		  <div style="clear:both;"></div>
        </div>
 {% endblock %}