@charset "utf-8";
/* CSS Document */
* { margin:0px;}

#container{
	position:relative;
	float:left;
	width:500x;
	margin:0px; padding:17px 20px 17px 20px;	
}

.preview_title{
	position:relative;
	width:500px;
}

.line_horiz { position:relative; float:left; width:900px; }
.line_horiz2 { position:relative; float:left; width:900px; }

.preview_cont {
	position:relative;
	float:left;
	width: 500px;
}

.preview_title{
	position:relative;
	font-size:20px;
	font-family:Arial, "微软雅黑";
	letter-spacing:1px;
	color:#a62b4d;
	width:1060px;
	font-weight:bold;
	top: -15px;
	left: 10px
}

.preview_cont {
	position:relative;
	float:left;
	width: 1060px;
	font-size:12px;
	font-family:Arial, "微软雅黑";
	color:#212121;
	line-height: 22px;
}

.preview_cont p { margin:0; padding:0 0 12px 0;}

.preview_cont ul { list-style:none; height:auto; margin:0px; padding:0px;}

.preview_cont li{
	position:relative;
	font-size:12px;
	font-family:Arial, "微软雅黑";
	color:#212121;
	line-height: 20px;
	margin-bottom:10px;
}

.addedimg { width:800px;}

.preview_cont ul li ul { list-style:none; height:auto; margin:0px; padding:0px;}

.preview_cont ul li{
	list-style-type: disc; list-style-position:outside; list-style-color: #383838;  margin:5px 0 3px 20px;
}